body{
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}


.logo{
    display: none;
}

.menu-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .menu-icons p{
    display: inline;
    padding: 0px;
} */

.icon{
    width: 30px;
    margin-left: 20px;
}

.user-settings p{
    display: inline;
}

.user-settings{
    display: none;
}

.profile-icon{
    background-color: purple;
    color: #fff;
    padding: 6px 11px 6px 11px;
    border-radius: 50%;
}

.inner-div1{
    margin-bottom: 60px;
    border-bottom: 2px #999 solid;
}

.slogan{
    text-align: center;
}

.slogan p{
    font-size: 20px;
    color: #555;
}

.btns a{
    text-decoration: none;

}


.btn-1 {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    background-color: #3a52d8;
    color: white;
    width: 150px;
    padding: 20px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}

.video-icon {
    width: 24px;
    height: 24px;
    color: white;
}

/* .input-container{
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    background-color: red;

}

.key-icon{
    width: 24px;
    height: 24px;
    color: black;
    position: absolute;
}
 */


.input-box{
    min-width: 20%;
    padding: 18px;
    border: 2px #999 solid;
    border-radius: 5px;
    margin-right: 20px;
}

.btns{
    /* background-color: blue; */
    margin-bottom: 30px;
    display: block;
}

.join-btn{
    display: inline;
    color: #888;
    border: none;
    background-color: #fff;
    font-size: 20px;
    padding: 5px;
}

.inner-div1 .info-text{
    display: none;
}


.img-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.div2-text{
    text-align: center;
}

.div2-text h2{
    font-size: 25px;
    font-weight: normal;
    color: #222;
}

.div2-text p{
    font-size: 17px;
    font-weight: normal;
    color: #222;
}

.info-text{
    font-size: 17px;
}

.info-text a{
    color: blue;
    font-size: 17px;
}


@media(min-width: 720px){
    body{
        width: 100%;
    }

    .navigation{
        /* background-color: #3a52d8; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 97%;
        margin: 10px auto 0 auto ;
        /* padding-top: 10px; */
    }
    .logo{
        display: inline-block;
        width: 40%;
        /* background-color: red; */
    }

    .menu-icons{
        display: flex;
        justify-content: flex-end;
        /* background-color: blue; */
        width: 40%;
    }

    .menu-icons p{
        margin-right: 5px;
        padding: 5px;
    }

    .user-settings{
        display: flex;
        align-items: center;
        /* background-color: paleturquoise; */
    }
    .profile-icon{
        margin-left: 10px;
    }

    .container{
        /* background-color: paleturquoise; */
        display: flex;
        justify-content: space-between;
        height: 60vh;
        width: 95%;
        margin-left: auto;
        margin-top: 100px;
        align-items: center;
    }

    .inner-div1{
        /* background-color: red; */
        max-width: 46%;
        margin-left: 0px;
        padding: 10px;
        /* height: vh; */

    }

    .slogan{
        text-align: left;

    }

    .slogan h1{
        font-size: 45px;
        margin-bottom: 0px;
        line-height: 55px;
    }

    .slogan p{
        margin-top: 25px;
        margin-bottom: 55px;
        line-height: 30px;
    }

    .btns{
        display: flex;
        align-items: flex-start;
        /* width: 100%; */
        /* height: 10vh; */
        /* background-color: chartreuse; */
        
    }
    
    /* .btn-1{
        font-size: 19px;
    } */

    /* .user-settings{
        background-color: red;
    } */

    .btns a{
        margin-right: 10px;
        height: 15px;
        margin-right: 25px;
    }

    .input-box{
        /* background-color: #222; */
        width: 45%;
        padding: 18px;
    }

    .inner-div2{
        max-width: 45%;
        margin: auto;
        /* margin-left: 20px; */
        padding: 10px;
        height: vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .btns .info-text{
        display: block;
    }
    

    .div2-text{
        text-align: center;
    }

    .img-container{
        margin-bottom: 5px;
    }

    .inner-div2 .info-text{
        display: none;
    }

    .inner-div1 .info-text{
        border-top: 2px solid #999;
        padding-top: 30px;
        display: block;
    }

    .inner-div1{
        border-bottom: none;
    }

    .img-1{
        width: 32px;
    }

}